{% extends "base.html" %}

{% block content %}
<h1>Зарегистрироваться</h1>
<form action="" method="post" novalidate>

    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        <p> {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
        <p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </p>
    <div class="flex d-flex">
        <p class="me-2">Уже есть аккаунт? </p> <a href="login">Войти</a>
    </div>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}